In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [12]:
FOLDER_PATH = Path(r'.\test_data')
excel_files = list(FOLDER_PATH.rglob('*.xlsx'))
data_frames = []
for xls_file in excel_files:
    data = pd.read_excel(xls_file, sheet_name=None)
    data = list(data.values())
    data_frames = data_frames + data

df = pd.concat(data_frames)
df

,OCT,STR,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,KSA,OCT,SHT,SHT,Mena 3,SAR
0,AHM,Amira Helmy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Total hours,170.2,NaN,0,0,10,9,10,9.3,9,...,0,0,0,9,NaN,NaN,NaN,NaN,NaN,NaN
3,Project Code,Project Descreption,Package/Zone/Building,2024-01-26 00:00:00,2024-01-27 00:00:00,2024-01-28 00:00:00,2024-01-29 00:00:00,2024-01-30 00:00:00,2024-01-31 00:00:00,2024-02-01 00:00:00,...,2024-02-22 00:00:00,2024-02-23 00:00:00,2024-02-24 00:00:00,2024-02-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4,ST003,Admin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,NaN,Project Descreption,Package/Zone/Building,2024-10-26 00:00:00,2024-10-27 00:00:00,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,2024-11-01 00:00:00,...,2024-11-22 00:00:00,2024-11-23 00:00:00,2024-11-24 00:00:00,2024-11-25 00:00:00,NaN,NaN,NaN,NaN,NaN,Project Code
0,NaN,Yasser Wael Albitar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,YSB
1,NaN,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024
2,NaN,0,NaN,0,0,0,0,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Total hours
3,NaN,Project Descreption,Package/Zone/Building,2024-11-26 00:00:00,2024-11-27 00:00:00,2024-11-28 00:00:00,2024-11-29 00:00:00,2024-11-30 00:00:00,2024-12-01 00:00:00,2024-12-02 00:00:00,...,2024-12-23 00:00:00,2024-12-24 00:00:00,2024-12-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,Project Code