In [42]:
import pandas as pd
import numpy as np
from pathlib import Path
from datetime import datetime

### Collect the required raw data from excel files

In [50]:
FOLDER_PATH = Path(r'.\test_data')
excel_files = list(FOLDER_PATH.rglob('*.xlsx'))
data_frames = {}
for xls_file in excel_files:
    data = pd.read_excel(xls_file, sheet_name=None, header=None)
    data_frames[xls_file.stem] = data

#df = pd.concat(data_frames)
data_frames

{'STR_KSA_ABB': {'02':               0                                  1                      2   \
  0            KSA                                STR                    NaN
  1            ABB             Abdullah Bassam Barbar                    NaN
  2           2024                                  2                    NaN
  3    Total hours                              222.5                    NaN
  4   Project Code               Project Descreption   Package/Zone/Building
  5          C1400                                 M1                    NaN
  6          C1400                                 M1                    NaN
  7          C1400                                 M1                    NaN
  8          C1400                                 M1                    NaN
  9          C1400                                 M1                    NaN
  10          C901  Abu Aljadayel-Makkah Roud Project                    NaN
  11          C901  Abu Aljadayel-Makkah Roud Project                    NaN
  12          C901  Abu Aljadayel-Makkah Roud Project                    NaN
  13         C1275                                B05                    NaN
  14         C1275                                B05                    NaN
  15         C1275                                B05                    NaN
  16         C1275                                B05                    NaN
  17         C1303                                PPP                    NaN
  18         C1303                                PPP                    NaN
  19         C1303                                PPP                    NaN
  20         C1303                                PPP                    NaN

                       3                    4                    5   \
  0                   NaN                  NaN                  NaN
  1                   NaN                  NaN                  NaN
  2                   NaN                  NaN                  NaN
  3                     0                  8.5                    8
  4   2024-01-26 00:00:00  2024-01-27 00:00:00  2024-01-28 00:00:00
  5                   NaN                  3.5                  NaN
  6                   NaN                  NaN                    2
  7                   NaN                  NaN                  NaN
  8                   NaN                  NaN                  NaN
  9                   NaN                  NaN                  NaN
  10                  NaN                    3                    3
  11                  NaN                  NaN                  NaN
  12                  NaN                  NaN                  NaN
  13                  NaN                    2                  NaN
  14                  NaN                  NaN                    3
  15                  NaN                  NaN                  NaN
  16                  NaN                  NaN                  NaN
  17                  NaN                  NaN                  NaN
  18                  NaN                  NaN                  NaN
  19                  NaN                  NaN                  NaN
  20                  NaN                  NaN                  NaN

                       6                    7                    8   \
  0                   NaN                  NaN                  NaN
  1                   NaN                  NaN                  NaN
  2                   NaN                  NaN                  NaN
  3                     8                    8                    9
  4   2024-01-29 00:00:00  2024-01-30 00:00:00  2024-01-31 00:00:00
  5                     4                    4                    3
  6                   NaN                    4                    3
  7                   NaN                  NaN                    3
  8                   NaN                  NaN                  NaN
  9                   NaN                  NaN                  NaN
  10                  NaN                  NaN                  NaN
  11                    3                  NaN                  NaN
  12                  NaN                  NaN                  NaN
  13                    1                  NaN                  NaN
  14                  NaN                  NaN                  NaN
  15                  NaN                  NaN                  NaN
  16                  NaN                  NaN                  NaN
  17                  NaN                  NaN                  NaN
  18                  NaN                  NaN                  NaN
  19                  NaN                  NaN                  NaN
  20                  NaN                  NaN                  NaN

                       9   ...                   24                   25  \
  0                   NaN  ...                  NaN                  NaN
  1                   NaN  ...                  NaN                  NaN
  2                   NaN  ...                  NaN                  NaN
  3                     9  ...                    0                    0
  4   2024-02-01 00:00:00  ...  2024-02-16 00:00:00  2024-02-17 00:00:00
  5                   NaN  ...                  NaN                  NaN
  6                   NaN  ...                  NaN                  NaN
  7                   NaN  ...                  NaN                  NaN
  8                   NaN  ...                  NaN                  NaN
  9                   NaN  ...                  NaN                  NaN
  10                    2  ...                  NaN                  NaN
  11                  NaN  ...                  NaN                  NaN
  12                  NaN  ...                  NaN                  NaN
  13                    2  ...                  NaN                  NaN
  14                  NaN  ...                  NaN                  NaN
  15                    1  ...                  NaN                  NaN
  16                    4  ...                  NaN                  NaN
  17                  NaN  ...                  NaN                  NaN
  18                  NaN  ...                  NaN                  NaN
  19                  NaN  ...                  NaN                  NaN
  20                  NaN  ...                  NaN                  NaN

                       26                   27                   28  \
  0                   NaN                  NaN                  NaN
  1                   NaN                  NaN                  NaN
  2                   NaN                  NaN                  NaN
  3                     9                    9                    9
  4   2024-02-18 00:00:00  2024-02-19 00:00:00  2024-02-20 00:00:00
  5                   NaN                  NaN                  NaN
  6                     4                  NaN                    2
  7                   NaN                  NaN                  NaN
  8                   NaN                  NaN                  NaN
  9                   NaN                  NaN                  NaN
  10                  NaN                  NaN                  NaN
  11                  NaN                  NaN                  NaN
  12                    1                    6                    7
  13                  NaN                  NaN                  NaN
  14                  NaN                  NaN                  NaN
  15                  NaN                  NaN                  NaN
  16                  NaN                  NaN                  NaN
  17                  NaN                  NaN                  NaN
  18                    4                    3                  NaN
  19                  NaN                  NaN                  NaN
  20                  NaN                  NaN                  NaN

                       29                   30                   31  \
  0                   NaN                  NaN                  NaN
  1                   NaN                  NaN                  NaN
  2                   NaN                  NaN                  NaN
  3                    10                   11                    0
  4   2024-02-21 00:00:00  2024-02-22 00:00:00  2024-02-23 00:00:00
  5                   NaN                    4                  NaN
  6                     4                  NaN                  NaN
  7                   NaN                  NaN                  NaN
  8                   NaN                  NaN                  NaN
  9                   NaN                  NaN                  NaN
  10                  NaN                    4                  NaN
  11                  NaN                  NaN                  NaN
  12                    4                  NaN                  NaN
  13                  NaN                  NaN                  NaN
  14                  NaN                  NaN                  NaN
  15                  NaN                  NaN                  NaN
  16                  NaN                  NaN                  NaN
  17                  NaN                  NaN                  NaN
  18                    2                    3                  NaN
  19                  NaN                  NaN                  NaN
  20                  NaN                  NaN                  NaN

                       32                   33
  0                   NaN                  NaN
  1                   NaN                  NaN
  2                   NaN                  NaN
  3                     9                    9
  4   2024-02-24 00:00:00  2024-02-25 00:00:00
  5                   NaN                  NaN
  6                   NaN                  NaN
  7                   NaN                  NaN
  8                   NaN                  NaN
  9                   NaN                  NaN
  10                  NaN                  NaN
  11                  NaN                  NaN
  12                    9                    9
  13                  NaN                  NaN
  14                  NaN                  NaN
  15                  NaN                  NaN
  16                  NaN                  NaN
  17                  NaN                  NaN
  18                  NaN                  NaN
  19                  NaN                  NaN
  20                  NaN                  NaN

  [21 rows x 34 columns],
  '03':               0                                  1                      2   \
  0            KSA                                STR                    NaN
  1            ABB             Abdullah Bassam Barbar                    NaN
  2           2024                                  3                    NaN
  3    Total hours                                  0                    NaN
  4   Project Code               Project Descreption   Package/Zone/Building
  5          C1400                                 M1                    NaN
  6          C1400                                 M1                    NaN
  7          C1400                                 M1                    NaN
  8          C1400                                 M1                    NaN
  9          C1400                                 M1                    NaN
  10          C901  Abu Aljadayel-Makkah Roud Project                 Shafts
  11          C901  Abu Aljadayel-Makkah Roud Project             Cover Slab
  12          C901  Abu Aljadayel-Makkah Roud Project               Manholes

                       3                    4                    5   \
  0                   NaN                  NaN                  NaN
  1                   NaN                  NaN                  NaN
  2                   NaN                  NaN                  NaN
  3                     0                    0                    0
  4   2024-02-26 00:00:00  2024-02-27 00:00:00  2024-02-28 00:00:00
  5                   NaN                  NaN                  NaN
  6                   NaN                  NaN                  NaN
  7                   NaN                  NaN                  NaN
  8                   NaN                  NaN                  NaN
  9                   NaN                  NaN                  NaN
  10                  NaN                  NaN                  NaN
  11                  NaN                  NaN                  NaN
  12                  NaN                  NaN                  NaN

                       6                    7                    8   \
  0                   NaN                  NaN                  NaN
  1                   NaN                  NaN                  NaN
  2                   NaN                  NaN                  NaN
  3                     0                    0                    0
  4   2024-02-29 00:00:00  2024-03-01 00:00:00  2024-03-02 00:00:00
  5                   NaN                  NaN                  NaN
  6                   NaN                  NaN                  NaN
  7                   NaN                  NaN                  NaN
  8                   NaN                  NaN                  NaN
  9                   NaN                  NaN                  NaN
  10                  NaN                  NaN                  NaN
  11                  NaN                  NaN                  NaN
  12                  NaN                  NaN                  NaN

                       9   ...                   22                   23  \
  0                   NaN  ...                  NaN                  NaN
  1                   NaN  ...                  NaN                  NaN
  2                   NaN  ...                  NaN                  NaN
  3                     0  ...                    0                    0
  4   2024-03-03 00:00:00  ...  2024-03-16 00:00:00  2024-03-17 00:00:00
  5                   NaN  ...                  NaN                  NaN
  6                   NaN  ...                  NaN                  NaN
  7                   NaN  ...                  NaN                  NaN
  8                   NaN  ...                  NaN                  NaN
  9                   NaN  ...                  NaN                  NaN
  10                  NaN  ...                  NaN                  NaN
  11                  NaN  ...                  NaN                  NaN
  12                  NaN  ...                  NaN                  NaN

                       24                   25                   26  \
  0                   NaN                  NaN                  NaN
  1                   NaN                  NaN                  NaN
  2                   NaN                  NaN                  NaN
  3                     0                    0                    0
  4   2024-03-18 00:00:00  2024-03-19 00:00:00  2024-03-20 00:00:00
  5                   NaN                  NaN                  NaN
  6                   NaN                  NaN                  NaN
  7                   NaN                  NaN                  NaN
  8                   NaN                  NaN                  NaN
  9                   NaN                  NaN                  NaN
  10                  NaN                  NaN                  NaN
  11                  NaN                  NaN                  NaN
  12                  NaN                  NaN                  NaN

                       27                   28                   29  \
  0                   NaN                  NaN                  NaN
  1                   NaN                  NaN                  NaN
  2                   NaN                  NaN                  NaN
  3                     0                    0                    0
  4   2024-03-21 00:00:00  2024-03-22 00:00:00  2024-03-23 00:00:00
  5                   NaN                  NaN                  NaN
  6                   NaN                  NaN                  NaN
  7                   NaN                  NaN                  NaN
  8                   NaN                  NaN                  NaN
  9                   NaN                  NaN                  NaN
  10                  NaN                  NaN                  NaN
  11                  NaN                  NaN                  NaN
  12                  NaN                  NaN                  NaN

                       30                   31
  0                   NaN                  NaN
  1                   NaN                  NaN
  2                   NaN                  NaN
  3                     0                    0
  4   2024-03-24 00:00:00  2024-03-25 00:00:00
  5                   NaN                  NaN
  6                   NaN                  NaN
  7                   NaN                  NaN
  8                   NaN                  NaN
  9                   NaN                  NaN
  10                  NaN                  NaN
  11                  NaN                  NaN
  12                  NaN                  NaN

  [13 rows x 32 columns],
  '04':              0                       1                      2   \
  0           KSA                     STR                    NaN
  1           ABB  Abdullah Bassam Barbar                    NaN
  2          2024                       4                    NaN
  3   Total hours                       0                    NaN
  4  Project Code    Project Descreption   Package/Zone/Building

                      3                    4                    5   \
  0                  NaN                  NaN                  NaN
  1                  NaN                  NaN                  NaN
  2                  NaN                  NaN                  NaN
  3                    0                    0                    0
  4  2024-03-26 00:00:00  2024-03-27 00:00:00  2024-03-28 00:00:00

                      6                    7                    8   \
  0                  NaN                  NaN                  NaN
  1                  NaN                  NaN                  NaN
  2                  NaN                  NaN                  NaN
  3                    0                    0                    0
  4  2024-03-29 00:00:00  2024-03-30 00:00:00  2024-03-31 00:00:00

                      9   ...                   24                   25  \
  0                  NaN  ...                  NaN                  NaN
  1                  NaN  ...                  NaN                  NaN
  2                  NaN  ...                  NaN                  NaN
  3                    0  ...                    0                    0
  4  2024-04-01 00:00:00  ...  2024-04-16 00:00:00  2024-04-17 00:00:00

                      26                   27                   28  \
  0                  NaN                  NaN                  NaN
  1                  NaN                  NaN                  NaN
  2                  NaN                  NaN                  NaN
  3                    0                    0                    0
  4  2024-04-18 00:00:00  2024-04-19 00:00:00  2024-04-20 00:00:00

                      29                   30                   31  \
  0                  NaN                  NaN                  NaN
  1                  NaN                  NaN                  NaN
  2                  NaN                  NaN                  NaN
  3                    0                    0                    0
  4  2024-04-21 00:00:00  2024-04-22 00:00:00  2024-04-23 00:00:00

                      32                   33
  0                  NaN                  NaN
  1                  NaN                  NaN
  2                  NaN                  NaN
  3                    0                    0
  4  2024-04-24 00:00:00  2024-04-25 00:00:00

  [5 rows x 34 columns],
  '05':              0                       1                      2   \
  0           KSA                     STR                    NaN
  1           ABB  Abdullah Bassam Barbar                    NaN

### Processing the data and clean it

In [60]:
data_frames
def reshape_data_frame(df:pd.DataFrame) -> pd.DataFrame:
    location = df.iloc[0,0]
    disciplines = df.iloc[0,1]
    user = df.iloc[1,0]
    user_name = df.iloc[1,1]
    year = df.iloc[2,0]
    month = df.iloc[2,1]
    payment_month = datetime(year=year, month=month,day=1)

    updated_df = df.drop([0,1,2,3])

    updated_df.columns = updated_df.iloc[0]
    updated_df = updated_df.drop([4])
    updated_df = updated_df[~updated_df['Project Code'].isna()]
    updated_df = updated_df.fillna(0.0)

    updated_df['user'] = user
    updated_df['user_name'] = user_name
    updated_df['payment_month'] = payment_month
    updated_df['location'] = location
    updated_df['disciplines'] = disciplines

    return updated_df


df = reshape_data_frame(data_frames['STR_KSA_ABB']['02'])
df

C:\Users\mali\AppData\Local\Temp\ipykernel_7924\3314243397.py:16: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  updated_df = updated_df.fillna(0.0)

4,Project Code,Project Descreption,Package/Zone/Building,2024-01-26 00:00:00,2024-01-27 00:00:00,2024-01-28 00:00:00,2024-01-29 00:00:00,2024-01-30 00:00:00,2024-01-31 00:00:00,2024-02-01 00:00:00,...,2024-02-21 00:00:00,2024-02-22 00:00:00,2024-02-23 00:00:00,2024-02-24 00:00:00,2024-02-25 00:00:00,user,user_name,payment_month,location,disciplines
5,C1400,M1,0.0,0.0,3.5,0.0,4.0,4.0,3.0,0.0,...,0.0,4.0,0.0,0.0,0.0,ABB,Abdullah Bassam Barbar,2024-02-01,KSA,STR
6,C1400,M1,0.0,0.0,0.0,2.0,0.0,4.0,3.0,0.0,...,4.0,0.0,0.0,0.0,0.0,ABB,Abdullah Bassam Barbar,2024-02-01,KSA,STR
7,C1400,M1,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,ABB,Abdullah Bassam Barbar,2024-02-01,KSA,STR
8,C1400,M1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,ABB,Abdullah Bassam Barbar,2024-02-01,KSA,STR
9,C1400,M1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,ABB,Abdullah Bassam Barbar,2024-02-01,KSA,STR
10,C901,Abu Aljadayel-Makkah Roud Project,0.0,0.0,3.0,3.0,0.0,0.0,0.0,2.0,...,0.0,4.0,0.0,0.0,0.0,ABB,Abdullah Bassam Barbar,2024-02-01,KSA,STR
11,C901,Abu Aljadayel-Makkah Roud Project,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,ABB,Abdullah Bassam Barbar,2024-02-01,KSA,STR
12,C901,Abu Aljadayel-Makkah Roud Project,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,9.0,9.0,ABB,Abdullah Bassam Barbar,2024-02-01,KSA,STR
13,C1275,B05,0.0,0.0,2.0,0.0,1.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,ABB,Abdullah Bassam Barbar,2024-02-01,KSA,STR
14,C1275,B05,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,ABB,Abdullah Bassam Barbar,2024-02-01,KSA,STR
15,C1275,B05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,ABB,Abdullah Bassam Barbar,2024-02-01,KSA,STR
16,C1275,B05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,ABB,Abdullah Bassam Barbar,2024-02-01,KSA,STR
17,C1303,PPP,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,ABB,Abdullah Bassam Barbar,2024-02-01,KSA,STR
18,C1303,PPP,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,3.0,0.0,0.0,0.0,ABB,Abdullah Bassam Barbar,2024-02-01,KSA,STR
19,C1303,PPP,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,ABB,Abdullah Bassam Barbar,2024-02-01,KSA,STR
20,C1303,PPP,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,ABB,Abdullah Bassam Barbar,2024-02-01,KSA,STR

In [61]:
df.stack(future_stack=True)

    4
5   Project Code                              C1400
    Project Descreption                          M1
    Package/Zone/Building                       0.0
    2024-01-26 00:00:00                         0.0
    2024-01-27 00:00:00                         3.5
                                      ...
20  user                                        ABB
    user_name                Abdullah Bassam Barbar
    payment_month               2024-02-01 00:00:00
    location                                    KSA
    disciplines                                 STR
Length: 624, dtype: object